*{
	margin: 0px;
	padding: 0px;
}
header{
	background: #415e9b;
	height: 82px;
}
.logo{
	width: 50%;
	float: left;
}
.logo img{
	margin: 30px;
	margin-left: 150px;
}
.facebook-login{
	width: 50%;
	float: left;
}
.email{
	float: left;
	margin-top: 15px;
}
.email label{
	color: white;
}
.email input[type="text"]{
	height:20px;
	width:150px;
	border: 1px solid #1d2a5b;
}
.password{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}
.password label{
	color:white;
}
.password input[type="password"]{
	height: 20px;
	width: 15opx;
	border:1px solid #1d2a5b;
}
.password a{
	color: lightblue;
	text-decoration: none;
}
.login-button{
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
.login-button input[type="submit"]{
	background: #415e9b;
	border:1px solid #1d2a5b;
	border-radius: 2px;
	color:#fff;
	height: 20px;
	width: 50px;
}
.facebook-connect{
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	width: 50%;
}
.facebook-connect p{
	color: lightblue;
	font-size: 25px;
	font-weight: bold;
}
.facebook-connect img{
	margin-top: 10px;
	height: 450px;
	width: 650px;
}
.create{
	font-size: 20px;
}
.account input[type="text"]{
	height: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding:5px;
}
.account input[type="password"]{
	height: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding:5px;
}
.birthday a{
	margin-left: 100px;
}
.account a{
	text-decoration: none;
	color:lightblue;
}
.account .by-clicking{
	color:grey; 
}
.account input[type="submit"]{
	padding: 15px 22px;
	background: lightgreen;
	border: 1px solid green;
	border-radius: 5px;
	font-size: 25px;
	color:#fff;
	margin-top: 15px;
	margin-bottom: 15px;
}




